/* @font-face {
  font-family: Nunito-SemiBold;
  src: url(./fonts/Nunito-SemiBold.ttf);
}
body {
  background: #eee; 
  font-family: Nunito-SemiBold;
}

.button {
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  } */

  .invalid {
	  color: #eb3453;
  }

  .valid {
	  color: #34eb59;
  }

  hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 10px solid rgba(41, 8, 226, 0.1);
  }

  .Component {
	  margin-top: 2rem;
	  margin-bottom: 2rem;
	  margin-left: 20%;
	  border: 0;
  }