 @font-face {
  font-family: Nunito-SemiBold;
  src: url(./fonts/Nunito-SemiBold.ttf);
}
body {
  background: rgb(243, 243, 243); 
  font-family: Nunito-SemiBold;
}
  .invalid {
	  color: #f01414;
  }

  .valid {
	  color: #09bd2d;
  }

  hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 10px solid rgba(41, 8, 226, 0.1);
  }

  .Component {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  margin-left: 1rem;
	  border: 0;
  }
  
  .indiv-day {
    margin-top: 1rem;
  }
  /* .day-cards {
	  margin-top: 1rem;
  } */

  h1 {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2rem;
  }

.Content {
  margin-left: 4%;
}

.check-horizontal {
  margin-left: 1rem;
  margin-right: 1rem;
}